.product-info{
	max-width: 540px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.product-info h1{
	font-size: 26px;
}

.product-info p{
	color: #666;
	line-height: 1.4;
	margin-top: 5px;
}

.product-info p a{
	color: #00acca;
}

